body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: white;
  padding: 1em;
  text-align: center;
}

main {
  padding: 2em;
  max-width: 400px;
  margin: 2em auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

form div {
  margin-bottom: 1em;
}

label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

input {
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

button {
  padding: 0.5em;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

footer {
  text-align: center;
  padding: 1em;
  background-color: #333;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.mensajeCompra {
  color: #000;
}

.color-black {
  color: #000;
}

/* Define una clase para el ancho */
.custom-width {
  width: 30px;
}
